// Font weights
$fw-thin: 100;
$fw-extra-light: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;
$fw-black: 900;

// Colors
$color-background: #F5FAFF;
$color-primary: #55AAFF;
$color-primary-dark: #2f96fd;
$color-text-dark: #2C333A;
$color-text-light: #FEFEFE;
$color-popup-background: #FDFEFF;
$color-card-background: #E6EFF9;
$color-blur: rgba(163, 193, 223, .25);
$color-dropshadow: rgba(119, 147, 175, .6);
$color-background-dark: #283440;
$color-nav-dark: #2C3B4A;
$color-card-background-dark: #3A4A5A;